
@model IPagedList<Playground.Models.Customers>

@{
    ViewBag.Title = "Index";
}

@section head_css
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-success" })
</p>

<div id="unobtrusive">
    @*內容*@
    @Html.Partial("_PageList")
</div>

<div class="text-center">
    @*@Html.PagedListPager(Model, generatePageUrl: page => Url.Action("Index", new { page }),
        options: PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions
        {
          HttpMethod = "Get",
          UpdateTargetId = "unobtrusive"
          //OnComplete = "PageOnComplete"
        }))*@


    @*@Html.PagedListPager(Model, generatePageUrl: page => Url.Action("Index", new { page }),
        options: PagedListRenderOptions.TwitterBootstrapPager)*@

    @*@Html.PagedListPager(Model, generatePageUrl: page => Url.Action("Index", new { page }),
        options: new PagedListRenderOptions
        {
            LinkToFirstPageFormat = "<< 第一頁",
            LinkToPreviousPageFormat = "< 前一頁",
            LinkToNextPageFormat = "後一頁 >",
            LinkToLastPageFormat = "最末頁 >>",
            PageCountAndCurrentLocationFormat = "第 {0} 頁 / 共 {1} 頁",
            DisplayPageCountAndCurrentLocation = true,
            ItemSliceAndTotalFormat = "顯示項目: {0} ~ {1} / 共 {2} 項",
            DisplayItemSliceAndTotal = true
        })*@

    @*@Html.PagedListGoToPageForm(Model, Url.Action("Index"))*@
    @*@Html.PagedListGoToPageForm(Model, Url.Action("Index"), "page")*@
    @*@Html.PagedListGoToPageForm(Model, formAction: Url.Action("Index"),
        options: new GoToFormRenderOptions {
            InputFieldName = "page",
            InputFieldType = "number",
            LabelFormat = "前往",
            SubmitButtonFormat = "送出"
         })*@
</div>

<div class="text-center">
    @*@Html.PagedListPager(Model, generatePageUrl: page => Url.Action("Index", new { page }))*@
</div>

<div class="text-center">
    @*@Html.PagedListPager(Model, generatePageUrl: page => Url.Action("Index", new { page }),
        options: new PagedListRenderOptions
        {
            DisplayLinkToFirstPage = PagedListDisplayMode.Never,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
            DisplayLinkToNextPage = PagedListDisplayMode.Never,
            DisplayLinkToLastPage = PagedListDisplayMode.Never,
            DisplayLinkToIndividualPages = false,

            PageCountAndCurrentLocationFormat = "第 {0} 頁 / 共 {1} 頁",
            DisplayPageCountAndCurrentLocation = true,
            ItemSliceAndTotalFormat = "顯示項目: {0} ~ {1} / 共 {2} 項",
            DisplayItemSliceAndTotal = true
        })*@
</div>

<div class="text-center">
    @*@{
            string pageInfo = string.Format($"第 {Model.PageNumber} 頁 / 共 {Model.PageCount} 頁");
        }

        <p>@pageInfo</p>*@
</div>





@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}